:root {
    --background-1: #1c1a18;
    --background-2: #3a3a38;
    --foreground-1: #dde7e7 ;
    --foreground-2: #a9adad;
    --highlight-color: #998766;
    --neutral-color: #9f9f9f;
    --success-color: #89ab37;
    --warning-color: #e1712e;
    --danger-color: #b33a3a;
    --border-color: #605a50;
    
    --sn-stylekit-info-color: #87775f;
    --sn-stylekit-info-contrast-color: white;
	--sn-stylekit-info-color-darkened:  #503d1e;
	--sn-stylekit-info-backdrop-color:  #ff9d003b;
	
    --sn-stylekit-neutral-color: var(--neutral-color);
    --sn-stylekit-neutral-contrast-color: var(--background-2);
    
    --sn-stylekit-success-color: var(--success-color);
    --sn-stylekit-success-contrast-color: var(--background-2);
    
    --sn-stylekit-warning-color: var(--warning-color);
    --sn-stylekit-warning-contrast-color: var(--background-2);
    
    --sn-stylekit-danger-color: var(--danger-color);
    --sn-stylekit-danger-contrast-color: var(--background-2);
    
    --sn-stylekit-shadow-color: var(--background-2);
    --sn-stylekit-background-color: var(--background-1);
    --sn-stylekit-foreground-color: var(--foreground-1);
    --sn-stylekit-border-color: var(--border-color);
    
    --sn-stylekit-paragraph-text-color: var(--foreground-1);
    
    --sn-stylekit-contrast-background-color: var(--background-2);
    --sn-stylekit-contrast-foreground-color: var(--foreground-1);
    --sn-stylekit-contrast-border-color: var(--border-color);
    
    --sn-stylekit-secondary-background-color: var(--background-2);
    --sn-stylekit-secondary-foreground-color: var(--foreground-2);
    --sn-stylekit-secondary-border-color: var(--border-color);
    
    --sn-stylekit-secondary-contrast-background-color: var(--background-1);
    --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-1);
    --sn-stylekit-secondary-contrast-border-color: var(--border-color);
    
    --sn-stylekit-editor-background-color: var(--background-1);
    --sn-stylekit-editor-foreground-color: var(--foreground-2);
    
    --sn-stylekit-input-placeholder-color: var(--foreground-2);
    --sn-stylekit-input-border-color: var(--border-color);
    
    --sn-stylekit-scrollbar-track-border-color: var(--border-color);
    --sn-stylekit-scrollbar-thumb-color: var(--border-color);
    
    --sn-desktop-titlebar-bg-color: var(--background-1);
    --sn-desktop-titlebar-border-color: var(--border-color);
    --sn-desktop-titlebar-ui-color: var(--foreground-1);
    --sn-desktop-titlebar-ui-hover-color: var(--highlight-color);

    --sn-stylekit-menu-border: 1px solid #606464;
}


:root .sk-app-bar {
  color: var(--foreground-2) !important;
}

:root .sk-menu-panel {
  color: var(--foreground-1) !important;
}

:root .cm-s-default .cm-variable-3,
:root .cm-s-default .cm-type {
  color: var(--success-color) !important;
}

:root ::selection {
  background: var(--success-color) !important;
  color: var(--foreground-1) !important;
}
:root .cm-s-default .cm-variable-3 {
  color: #5acf83;
}
:root #editor-menu-bar > div > div.sk-app-bar-item.selected > div.sk-menu-panel.dropdown-menu.ng-scope > div:nth-child(1) > menu-row:nth-child(7) > div > div > div > div > div {
  color: var(--danger-color);
}
:root .tags .tag > .tag-info > .tag-icon {
	opacity: 0.4;
}
:root #tags-content > div.scrollable > div > div.tag.ng-scope.selected > div.tag-info > div.tag-icon {
	opacity: 0.5;
}
:root div.tag-info.level-1 > div.sk-circle.small.info {
	opacity: 0.6;
}
:root div.tag-info.level-1 > div.sk-circle.small.success {
	opacity: 0.6;
}
:root div.tag-info.level-2 > div.sk-circle.small.success {
	opacity: 0.6;
}
:root div.tag-info.level-3 > div.sk-circle.small.danger {
	opacity: 0.6;
}
:root div.tag-info.level-4 > div.sk-circle.small.warning {
	opacity: 0.6;
}
:root div.tag-info.level-5 > div.sk-circle.small.neutral {
	opacity: 0.6;
}

:root .tag-tree .self.selected:before {
	background: none;
	background-color: var(--sn-stylekit-secondary-contrast-background-color);
	opacity: 1;
}

:root .tag-tree .self .tag-info .action-menu {
	margin-left: auto;
	margin-right: 0;
}
:root .tags .tag > .menu:hover {
	opacity: 0.5;
}